<form style="margin-top: 10%" class="container col-3">
  <div class="form-group">
    <label for="etiqueta">Registro</label>
    <input
      type="text"
      name="registro"
      class="form-control"
      id="fechaHora"
      disabled
      value="{{ tiempo | date: 'EEEE, dd/MM/yy HH:mm:ss' }}"
    />
  </div>

  <div class="form-check">
    <input
      type="checkbox"
      class="form-check-input"
      checked="checked"
      id="exampleCheck1"
    />
    <label class="form-check-label" for="exampleCheck1">Seguir logeado</label>
  </div>
  <div class="form-group" style="margin-top: 10px">
    <button type="submit" (click)="insertCheckin($event)" class="btn btn-primary">Submit</button>
  </div>
</form>
