<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark badge-primary">
  <a class="navbar-brand" routerLink=".">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li [className]="currentUrl == '/home' ? 'nav-item active' : 'nav-item'">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li [className]="currentUrl == '/dashboard' ? 'nav-item active' : 'nav-item'" *ngIf="isUserLogged">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li [className]="currentUrl == '/login' ? 'nav-item active' : 'nav-item'" *ngIf="!isUserLogged">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a *ngIf="isUserLogged"  class="nav-link" routerLink="/logout">Logout</a>
      </li>
      <li *ngIf="isUserLogged" class="nav-item">
        <a class="nav-link" routerLink="/checkme">Check</a>
      </li>


      <li *ngIf="isUserLogged" class="nav-item dropdown">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-warning nav-item" id="dropdownMenu1" ngbDropdownToggle>Toggle dropdown</button>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </div>
        </li>


      <li class="nav-item">
        <a [ngClass]="{'nav-link': true, 'disabled': !isUserLogged}" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>

