<h1>{{ title }}</h1>
<div>
  <ul class="list-group list-group-horizontal" *ngFor="let user of users">
    <!--  <li > -->
    <li class="list-group-item bg-secondary py-1">{{ user.uid }}</li>
    <li class="list-group-item py-1">{{ user.name }}</li>
    <li class="list-group-item py-1">{{ user.ppin }}</li>
    <li class="list-group-item py-1">{{ user.accessLevel }}</li>
    <li class="list-group-item py-1">
      <button (click)="deleteuser(user.uid)">Delete</button>
      <button (click)="selectuser(user)">Update</button>
    </li>

    <!--  </li> -->
  </ul>
</div>
